*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1B0D39;
  color: #1B0D39;
  font-family: "Cera Pro", sans-serif;
}

img {
  display: block;
}

.container {
  display: block;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

.header-section {
  background-image: url("../images/11.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.domain {
  padding-top: 60px;
  margin-left: 126px;
  color: #3AC4B9;
  font-size: 20px;
  font-weight: 600;
}

.header-button-block {
  position: relative;
  display: flex;
  margin-top: 230px;
  align-items: center;
}
@media (max-width: 1000px) {
  .header-button-block {
    display: block;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.skill {
  font-size: 50px;
  background-color: #3AC4B9;
  line-height: 1.4;
  font-weight: 900;
  text-align: center;
  padding: 35px 71px;
  margin: 0;
}
@media (max-width: 1000px) {
  .skill {
    width: 380px;
    padding: 17px 15px;
    font-size: 24px;
    margin: 0 auto;
  }
}

.reserve {
  background: #3AC4B9;
  margin-left: 100px;
  padding: 23px 50px;
}
@media (max-width: 1000px) {
  .reserve {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    width: 350px;
    font-size: 20px;
  }
}

.reserve-button {
  color: #150A2A;
  font-weight: 800;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2em;
  cursor: pointer;
  text-transform: uppercase;
}

.header-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 150px;
  margin: 0;
  color: #3AC4B9;
}
@media (max-width: 1000px) {
  .header-text-block {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

.header-text {
  font-size: 20px;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .header-text {
    display: block;
    margin: 0 auto;
  }
}

.header-text-main {
  font-size: 36px;
  font-weight: 900;
  margin-left: 50px;
}
@media (max-width: 1000px) {
  .header-text-main {
    display: block;
    margin: 0 auto;
  }
}

.header-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 105px;
  background-color: #1B0D39;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  margin-top: 40px;
}

.section-hero {
  background-color: #1B0D39;
  height: 900px;
  display: block;
}
@media (max-width: 1000px) {
  .section-hero {
    position: relative;
    height: 650px;
    width: 100%;
  }
}

.hero {
  display: block;
  width: 100%;
  text-align: right;
}
@media (max-width: 1000px) {
  .hero {
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
  }
}

.hero-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .hero-title {
    font-size: 26px;
  }
}

.hero-text {
  width: 60%;
  margin-left: auto;
  font-size: 20px;
  color: #3AC4B9;
  font-weight: 900;
  line-height: 1.2em;
  text-align: right;
}
@media (max-width: 1000px) {
  .hero-text {
    font-size: 14px;
  }
}

.hero-block {
  display: flex;
}
@media (max-width: 1000px) {
  .hero-block {
    display: block;
  }
}

.hero-list {
  display: block;
  margin-top: 80px;
  width: 40%;
  height: 300px;
  padding: 30px;
  list-style: none;
}
@media (max-width: 1000px) {
  .hero-list {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    line-height: 1em;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.hero-about {
  height: 88px;
  padding: 20px 70px;
  letter-spacing: -1px;
  background-color: #3AC4B9;
  text-decoration: underline;
  margin-bottom: 20px;
  transform: skewY(8deg);
  line-height: 1.1em;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .hero-about {
    height: 52px;
    padding: 13px 10px 10px 20px;
  }
}

.hero-image-block {
  display: block;
  margin-top: 80px;
  margin-left: 50px;
}
@media (max-width: 1000px) {
  .hero-image-block {
    margin: 200px 20px 0 20px;
  }
}

.hero-image {
  width: 900px;
}
@media (max-width: 1000px) {
  .hero-image {
    width: 100%;
  }
}

.hero-image-text {
  display: block;
  font-size: 44px;
  margin-top: 48px;
  color: #FFFFFF;
  line-height: 1.2em;
  font-weight: 800;
  margin-bottom: 0;
  position: absolute;
  margin-left: 30px;
  z-index: 2;
}
@media (max-width: 1000px) {
  .hero-image-text {
    position: relative;
    font-size: 14px;
    text-align: center;
  }
}

.section-hero:after {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  background-color: #1B0D39;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%);
  margin-top: 48px;
}
@media (max-width: 1000px) {
  .section-hero:after {
    margin-top: -12px;
    height: 150px;
  }
}

.section-price {
  background-image: url("../images/13.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.price {
  text-align: center;
}

.price-title {
  display: inline-block;
  margin-top: 250px;
  color: #150A2A;
  background-color: #3AC4B9;
  padding: 10px 30px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .price-title {
    font-size: 14;
    padding: 10px 14px;
  }
}

.section-table {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .section-table {
    overflow-x: scroll;
  }
}

caption {
  visibility: hidden;
}

tbody {
  background-color: transparent;
  border: none;
  line-height: 1.5;
  text-align: center;
}

td {
  position: relative;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  padding: 10px;
  z-index: 2;
  white-space: nowrap;
  border-spacing: 2px;
}

td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3AC4B9;
  opacity: 0.4;
}

.section-price::after {
  content: "";
  background-color: #5A3D86;
  display: block;
  width: 100%;
  height: 105px;
  margin-bottom: -2px;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.benefits-section {
  text-align: center;
  background-color: #5A3D86;
  margin: 0;
  padding: 0;
  color: #3AC4B9;
}

.benefits-block {
  margin: 0 auto;
  padding: 20px;
}

.benefits-title {
  margin: 0;
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 58px;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .benefits-title {
    font-size: 26px;
    line-height: 1.2em;
    margin-bottom: 35px;
  }
}

.benefits-title-text {
  display: block;
  font-size: 40px;
  line-height: 1em;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .benefits-title-text {
    font-size: 16px;
    line-height: 1.2em;
  }
}

.features-list {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
@media (max-width: 1000px) {
  .features-list {
    display: flex;
  }
}

.feature {
  width: 250px;
  justify-content: center;
  margin: 0;
  font-size: 1.25rem;
}
@media (max-width: 1000px) {
  .feature {
    width: 150px;
  }
}

.feature-image {
  margin: 0 auto;
  width: 150px;
}
@media (max-width: 1000px) {
  .feature-image {
    display: flex;
    width: 80px;
  }
}

li > p {
  line-height: 1.2em;
  font-weight: 900;
  font-size: 20px;
  color: #FFFFFF;
}

@media (max-width: 1000px) {
  .footer-container-block {
    padding: 20px;
  }
}

.footer-title-block {
  display: block;
  text-align: left;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .footer-title-block {
    padding: 20px;
  }
}

.footer-title {
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 20px;
  color: #3AC4B9;
  font-weight: 900;
  margin: 0;
}
@media (max-width: 1000px) {
  .footer-title {
    font-size: 22px;
    line-height: 1.2em;
  }
}

.footer-text {
  font-size: 32px;
  line-height: 1em;
  font-weight: 900;
  color: #3AC4B9;
  margin: 0;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .footer-text {
    font-size: 1rem;
    line-height: 1.2em;
  }
}

form {
  display: flex;
}
@media (max-width: 1000px) {
  form {
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
}

.input-name {
  width: 380px;
  height: 46px;
  margin-bottom: 15px;
  padding-left: 10px;
  outline: none;
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}
@media (max-width: 1000px) {
  .input-name {
    width: 100%;
  }
}

.input-phone {
  width: 380;
  height: 46px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-left: 10px;
  outline: none;
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}
@media (max-width: 1000px) {
  .input-phone {
    width: 100%;
    margin-left: 0;
  }
}

input::-moz-placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

input:-ms-input-placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

input::placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

textarea::-moz-placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

textarea:-ms-input-placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

textarea::placeholder {
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

.textarea {
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  width: 100%;
  height: 80px;
  font-weight: 900;
  font-size: 14px;
  color: #0B0607;
  font-family: "Cera Pro", sans-serif;
}

.policy-label {
  font-family: "Cera Pro", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 900;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: left;
}

.policy-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Cera Pro", sans-serif;
}
@media (max-width: 1000px) {
  .policy-link {
    font-size: 10px;
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: block;
  width: 34px;
  height: 34px;
  border: none;
  margin-right: 10px;
  background-color: #FFFFFF;
}

.checkbox:checked + .check-icon {
  background-color: #FFFFFF;
  background-image: url("../../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-button {
  display: flex;
  margin-top: 62px;
  margin-left: 20px;
}

.submit-btn {
  justify-content: center;
  width: 350px;
  height: 80px;
  background: #5A3D86;
  background-size: auto 60px;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 900;
  color: #3AC4B9;
  border: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.disclaimer {
  margin-top: 100px;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .disclaimer {
    margin-bottom: 10px;
    padding: 20px;
  }
}

.disclaimer-text {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.4em;
  text-decoration: none;
  color: #3AC4B9;
  font-family: "Cera Pro", sans-serif;
}

.triangle {
  width: 100%;
  height: 105px;
  background-color: #5A3D86;
  -webkit-clip-path: polygon(0 0, 100% 0%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 0% 100%);
  margin-top: -1px;
}/*# sourceMappingURL=main.css.map */