.footer-container-block {
    @media(max-width:1000px) {
        padding: 20px;
    }
}

.footer-title-block {
    display: block;
    text-align: left;
    padding-top: 50px;

    @media(max-width:1000px) {
        padding: 20px;
    }

}

.footer-title {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 20px;
    color: $primary-text-color;
    font-weight: 900;
    margin: 0;

    @media(max-width:1000px) {
        font-size: 22px;
        line-height: 1.2em;
    }

}

.footer-text {
    font-size: 32px;
    line-height: 1em;
    font-weight: 900;
    color: $primary-text-color;
    margin: 0;
    margin-bottom: 30px;

    @media(max-width:1000px) {
        font-size: 1rem;
        line-height: 1.2em;
    }
}

form {
    display: flex;

    @media(max-width:1000px) {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
}

.input-name {
    width: 380px;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 10px;
    outline: none;

    font-weight: 900;
    font-size: 14px;
    color: #0B0607;
    font-family: $main-font-family;

    @media(max-width:1000px) {
        width: 100%;
    }
}

.input-phone {
    width: 380;
    height: 46px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-left: 10px;
    outline: none;

    font-weight: 900;
    font-size: 14px;
    color: #0B0607;
    font-family: $main-font-family;

    @media(max-width:1000px) {
        width: 100%;
        margin-left: 0;
    }

}

input::placeholder {
    font-weight: 900;
    font-size: 14px;
    color: #0B0607;
    font-family: $main-font-family;


}

textarea::placeholder {
    font-weight: 900;
    font-size: 14px;
    color: #0B0607;
    font-family: $main-font-family;
}


.textarea {

    font-weight: 900;
    margin-bottom: 15px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    width: 100%;
    height: 80px;

    font-weight: 900;
    font-size: 14px;
    color: #0B0607;
    font-family: $main-font-family;
}


.policy-label {
    font-family: $main-font-family;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 900;
    color: $secondary-text-color;

    display: flex;
    align-items: center;
    justify-content: left;

}

.policy-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: $main-font-family;

    @media(max-width:1000px) {
        font-size: 10px;
    }
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;

}

.check-icon {
    display: block;
    width: 34px;
    height: 34px;
    border: none;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.checkbox:checked+.check-icon {
    background-color: #FFFFFF;
    background-image: url('../../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
}

.form-button {
    display: flex;
    margin-top: 62px;
    margin-left: 20px;
}

.submit-btn {
    justify-content: center;
    width: 350px;
    height: 80px;
    background: $section-bg-color;
    background-size: auto 60px;
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 900;
    color: $button-bg-color;
    border: none;
    cursor: pointer;

    @media(max-width:1000px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.disclaimer {
    margin-top: 100px;
    margin-bottom: 50px;

    @media(max-width:1000px) {
        margin-bottom: 10px;
        padding: 20px;
    }
}

.disclaimer-text {
    font-weight: 900;
    font-size: 12px;
    line-height: 1.4em;
    text-decoration: none;
    color: $primary-text-color;
    font-family: $main-font-family;
}

.triangle {
    width: 100%;
    height: 105px;
    background-color: $section-bg-color;
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
    margin-top: -1px;
}