$primary-text-color: #3AC4B9;
$secondary-text-color: #FFFFFF;
$block-text-color: #150A2A; 


$primary-bg-color: #1B0D39;
$secondary-bg-color: #0a0a0a; 
$section-bg-color: #5A3D86; 


$form-bg-color: #180C34; 
$button-bg-color: #3AC4B9;

$main-font-family: 'Cera Pro', sans-serif;